{% if data.sidebar.interests %}
<section class="section">
  <div class="section-header">
    <h2>{{ data.sidebar.interests.title }}</h2>
  </div>
  <ul class="list compact">
    {% for interest in data.sidebar.interests.info %}
    <li>{{ interest.item }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
