{% assign skills = site.data.data.sidebar.skills %}
{% if skills %}
<section class="skills-section  container-block">
  <h2 class="container-block-title">
    {{ skills.title }}
  </h2>

  <ul class="list-unstyled skillset-list">
    {% for skill in skills.toolset %}
    <li class="item">
      <span class="level-title">{{ skill.name }}</span>
      <div class="level-bar">
        <div class="level-bar-inner" style="width: {{ skill.level }}"></div>
      </div>
      <!--//level-bar-->
    </li>
    <!--//item-->
    {% endfor %}
  </ul>
</section>
<!--//skills-section-->
{% endif %}
